{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "components": "./components",
        "layoutComponents": "./components/layout",
        "pageComponents": "./components/pages",
        "utils": "./components/utils",
        "modules": "./components/modules",
        "constants": "./constants",
        "pages": "./pages"
      }
    }]
  ]
}